# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config
src/config/settings.json
src/config/settings.local.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# firebase
.firebase
.firebaserc
firebase.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dev files
/__files