* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

html, body, #root {
  height: 100%;
  min-width: 100%;
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background: #000 url(./assets/images/background.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased !important
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 12px
}

button.btn {
  background-color: #6300B1;
  border: 0;
  border-radius: 4px;
  color: #F9F1FF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  height: 48px;
  transition: .3s
}

button.btn.fluid {
  width: 100%;
}

button.btn.icon {
  background-color: transparent;
  padding: .4em .7em .3em
}
button.btn.icon svg {
  color: #6300B1;
}

button.btn.right.floated {
  float: right
}

button.btn:hover {
  background-color: #50018d;
}
button.btn.icon:hover {
  background-color: #f2f2f2;
}

button.btn.basic {
  background: none;
  border: none;
  border-radius: 4px;
  color: #6300B1;
}

button.btn:hover {
  background-color: #4d0186;
}

button.btn.basic:hover {
  background-color: #e7e7e7;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.content {
  background: #FFF;
  border-radius: 4px;
  border-top: solid 4px #6300B1;
  margin-top: 20px;
  padding: 30px;
}

.content > p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
  text-align: center
}

.content .error {
  color: red;
  font-size: 1.1em;
  text-align: center;
  margin: 15px 0;
}

.content .success {
  color: green;
  font-size: 1.1em;
  text-align: center;
  margin: 15px 0;
}

.content form {
  display: flex;
  flex-direction: column
}

.content form input.basic {
  border: solid 1px #DDD;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 20px
}

.content form label.basic {
  color: #444;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0;
}

.content form .or {
  color: #444;
  margin: 15px 0;
  text-align: center;
  width: 100%;
}

.content form .buttons {
  display: flex;
  flex-direction: row;
}

.content form .buttons .back {
  margin-right: 10px;
  width: 70px;
}
.content form .buttons .back .MuiSvgIcon-root {
  margin-top: 5px
}

.pageloader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.pageloader.absoluted {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pageloader .loadertext {
  text-align: center;
  padding: 10px 0
}

.usernav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 40px;
  padding: 10px 0
}
.usernav button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 0 5px;
  padding: .8em 1em .7em;
  text-decoration: none;
  transition: .3s;
}
.usernav button svg {
  margin-right: 10px
}
.usernav button:hover {
  background-color: rgba(0,0,0,.3);
}

/* Component Styles */
.MuiOutlinedInput-input {
  padding: 16.5px 14px !important
}
.MuiFormLabel-root {
  font-size: .9rem !important;
}
.MuiInputLabel-formControl {
  top: 2px
}
.MuiTextField-root {
  margin-bottom: 15px !important
}

/* Animations */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 