.spot-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.spot-list li {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.spot-list li .image {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 130px;
  margin-bottom: 5px;
}

.spot-list li .title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 4px;
}

.spot-list li .price {
  color: #444;
  font-size: 1.1em;
}

.spot-list li .image img {
  width: 100%;
}