.spot-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.spot-list li {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  position: relative;
}

.spot-list li .action-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 90px;
  width: 40px;
}

.spot-list li button.delete.icon,
.spot-list li button.edit.icon {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: .3s;
  z-index: 2;
}
.spot-list li button.delete.icon svg {
  color: red
}
.spot-list li button.icon .MuiTouchRipple-root {
  color: #565656
}
.spot-list li button svg {
  color: #6300B1;
  width: 20px;
  height: 20px;
}

.spot-list li .image {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 130px;
  margin-bottom: 5px;
}

.spot-list li .title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 4px;
}

.spot-list li .price {
  color: #444;
  font-size: 1.1em;
}

.spot-list li .image img {
  width: 100%;
}